body {
    margin: 0;
    background-color: black;
}
.video-container {
    display: none;
    max-width: 100%; /* Set a pixel value instead if no parent container*/
    margin: 0 auto; /* Center the container */
}
.video-container video {
    width: 100%; /* Fill the available width */
    height: 100%; /* Adjust height automatically */
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.item {
    margin: 10px;
    position: relative;
    width: calc(50% - 20px); /* Вычитаем margin с обеих сторон */
    min-height: 150px; /* Примерная минимальная высота, может быть изменена */
}
.preview {
    width: 100%;
    cursor: pointer;
}

@media (max-width: 600px) {
    .preview {
        width: 100%;
    }
}